<%@ Page Title="Movimiento de Biopsias" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master/MasterCrAnatomia.Master" MaintainScrollPositionOnPostback="true" CodeBehind="frm_movimientos.aspx.vb" Inherits="Anatomia_Patologica.frm_movimientos" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Cnt_Principal" runat="server"> 
    <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server" EnableScriptGlobalization="True">
    </asp:ToolkitScriptManager>
</asp:Content>