﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="IMP.master.vb" Inherits="Anatomia_Patologica.IMP" %>


<!DOCTYPE html>
<html lang="es">
<head runat="server">
    <title>Sistema de Anatomia Patologica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-3.3.6-dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/IMP_Informe.css" />
    <script src="../jquery/jquery-1.11.3.js"></script>
    <script src="../css/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="<%= ResolveClientUrl("~/css/bootstrap-3.3.6-dist/css/bootstrap.css") %>" />
    <script src="<%= ResolveClientUrl("~/js/jquery-1.11.3.js") %>"></script>
    <script src="<%= ResolveClientUrl("~/css/bootstrap-3.3.6-dist/js/bootstrap.js") %>"></script>
    <asp:ContentPlaceHolder runat="server" ID="_HeadContent">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="_form" runat="server">
        <div class="divPrincipal">
            <asp:ContentPlaceHolder ID="_ContentPlaceHolder" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
