﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="SINUSO_WebForm16.aspx.vb" Inherits="Anatomia_Patologica.WebForm16" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>


<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>

</head>
<body>
    <form id="form1" runat="server">
        <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server" EnableScriptGlobalization="True"></asp:ToolkitScriptManager>
        
    <br />
    <asp:ComboBox ID="ComboBox1" runat="server" AutoCompleteMode="SuggestAppend"
        AutoPostBack="True" DataSourceID="SqlDataSource1"  CaseSensitive="false" RenderMode="Inline"
        DataTextField="desc_morfologia" DataValueField="desc_morfologia" 
             MaxLength="0" style="display: inline;">
    </asp:ComboBox>
    <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
        ConnectionString="<%$ ConnectionStrings:anatomia_patologicaConnectionString %>" 
        SelectCommand="SELECT [desc_morfologia], [ANA_IdMorfologia] FROM [ANA_morfologia]">
    </asp:SqlDataSource>
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <p>
            <asp:Button ID="Button1" runat="server" Text="Button" />
        </p>
    </form>
</body>
</html>