﻿/*sacado de seriousface*/
#outer {
    position: relative;
    width: 1180px;
    margin: 0 auto 0 auto;
    background: #fff;
}

body {
    
    margin: auto;
    color: #696969;
    font-family: Calibri !important;
}

.modalBackground, .modalBackgroundAlert {
    background-color: Black;
    opacity: 0.65;
}

.modalBackgroundAlert {
    z-index: 100001 !important;
}

.modalBackgroundSinOpacidad {
    background: url("../Img/back.JPG") repeat scroll left top transparent;
}

.centrado-horizontal, .centrado-vertical,
.centrado-horizontal-vertical, .inferior-derecha,
.inferior-izquierda {
    display: flex;
    flex-direction: row;
}

.centrado-horizontal-vertical {
    justify-content: center;
    align-items: center;
}

.centrado-horizontal {
    justify-content: center;
}

    .centrado-horizontal > *, .centrado-horizontal-vertical > *,
    .centrado-vertical > * {
        margin-right: 10px;
        margin-left: 10px;
    }

.centrado-vertical {
    align-items: center;
}

.inferior-derecha {
    justify-content: flex-end;
    align-items: flex-end;
}

.justify-horizontal {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cuerpo-pagina {
    min-height: 420px;
    background-color: white;
}

.pie-pagina {
    background: #262D37;
    color: white;
    text-align: left;
    line-height: normal;
    padding: 15px 15px 15px 15px;
    font-size: medium !important;
}

.img-banner, .cuerpo-pagina, .pie-pagina {
    width: 1180px;
    max-width: 1180px;
    min-width: 900px;
}

/**************** MODAL CARGANDO ******************/

/* Cambios en el estilo del fondo */
.cargando {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo oscuro con transparencia */
    width: 100%;
    height: 100%;
    display: flex; /* Para centrar verticalmente */
    justify-content: center; /* Para centrar horizontalmente */
    align-items: center; /* Para centrar verticalmente */
    z-index: 21474;
}

/* Icono de carga */
.loader {
    border: 5px solid #007bff; /* Color del borde del icono (azul) */
    border-top: 5px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/**************** FINAL MODAL CARGANDO ******************/




/***** PROPIEDADES DE MENU *****/

.navbar-inverse {
    background-color: rgba(38,45,55,0.8) !important;
}

.navbar {
    min-height: 10px !important;
}

.navbar-login {
    width: 350px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-nav li a {
    line-height: 30px !important;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
    margin-top: 0 !important;
}

.dropdown-menu > li > a {
    text-decoration: none;
    font-family: Calibri;
    font-weight: bold;
}

.nav > li > a {
    text-decoration: none;
}

.btn-info > a {
    text-decoration: none;
}

.nav > li > a {
    color: #fff;
}

    .nav > li > a:hover {
        color: #666;
    }

.navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #DBDBDB !important;
    text-decoration: none;
    font-family: Calibri;
    font-weight: bold;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: white !important;
    }


hr {
    width: 100%;
    color: rgba(194,195, 201,0.5);
    height: 1px;
    background-color: rgba(194,195, 201,0.5);
}


/***** FINAL PROPIEDADES DE MENU *****/


/*CENTRAR MODAL*/
.modal {
    text-align: center;
}

    /*@media screen and (min-width: 768px) {*/
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
/*}*/

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modalZoom.modal.fade .modal-dialog {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    top: 0px;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.modalZoom.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    opacity: 1;
}

.panel-title {
    font-weight: bolder;
}

/*TERCER NIVEL MENÚ*/
.dropdown-submenu {
    position: relative;
}
.toast-message{
    font-weight:bolder;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

.panel-interno {
    margin-bottom: 0px !important;
}

.has-error {
    border: 2px solid red !important;
}

.color-error {
    font-weight: bold;
    color: red;
}

.color-success {
    font-weight: bold;
    color: green;
}

.table-info, .table-info > td, .table-info > th {
    background-color: #d9edf7
}

.table-hover .table-info:hover {
    background-color: #c4e3f3
}

    .table-hover .table-info:hover > td, .table-hover .table-info:hover > th {
        background-color: #c4e3f3
    }





@-webkit-keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(180deg);
        transform: perspective(120px) rotateX(0deg) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(360deg);
        transform: perspective(120px) rotateX(0deg) rotateY(360deg);
    }
}

@keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(180deg);
        transform: perspective(120px) rotateX(0deg) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(360deg);
        transform: perspective(120px) rotateX(0deg) rotateY(360deg);
    }
}



/*_------------------------------------------------------------------------------------------------*/
._bordeError {
    border: #ff5d5d 3px solid !important;
}
._bordeError1px {
    border: #ff5d5d 1px solid !important;
}
._header-warning {
    background-color: #eaab38 !important;
}
/*https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
/* Customize the label (the container) */
.containerCheck {
    /*display: block;*/
    position: relative;
    padding-left: 26px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
}

    /* Hide the browser's default checkbox */
    .containerCheck input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerCheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheck input:checked ~ .checkmark {
    background-color: #337ab7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerCheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerCheck .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 13px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-disabled, .btn-disabled:hover, .btn-disabled:active {
    color: White;
    background-color: lightgray;
    border: 0px;
    cursor: not-allowed;
}

button.invalid, input.invalid-input,
textarea.invalid-input {
    border: red 1px solid !important;
}
/* Animación "Loader" */
.loader-container {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.loader {
    border: 4px solid #ccc;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 5px;
    left: 5px;
}

.loading-text {
    margin-top: 15px;
    font-size: 16px;
    color: #555;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.salto-linea {
    white-space: pre-wrap;
}