﻿td {
    font-size: 12px !important;
    
}

table {
    border-spacing: 0;
}

.cabecera {
    font-weight: bold;
    width: 100%;
    border-spacing: 0;
}

.estilo-titulo {
    font-family: "Raleway", sans-serif;
    background-color: #f1f1f1;
    color: black;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.estilo-subtitulo {
    font-family: "Raleway", sans-serif;
    background-color: #f1f1f1;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.texto-negrita {
    font-weight: bold;
}

.fondo-titulos {
    font-family: "Raleway", sans-serif;
    background-color: #f1f1f1;
    font-weight: bold;
}

.contenido-celda {
    padding-left: 3px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px black;
}

.contenido-detalle {
    border: 1px solid black;
}

h2 {
    text-align: center;
}

.cell-title {
    font-weight: bold;
    background-color: #f1f1f1;
}

.row {
    margin: 0px !important;
    padding: 0px !important;
}

.row-extend {
    display: table;
}

    .row-extend .col-xs-1, .row-extend .col-xs-2, .row-extend .col-xs-3, .row-extend .col-xs-4, .row-extend .col-xs-5, .row-extend .col-xs-6,
    .row-extend .col-xs-7, .row-extend .col-xs-8, .row-extend .col-xs-9, .row-extend .col-xs-10, .row-extend .col-xs-11, .row-extend .col-xs-12 {
        float: none;
        display: table-cell;
        vertical-align: top;
    }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    font-size: 13px !important;
    border: 1px solid #313131;
    padding: 5px;
    margin: 0px;
}
